:root{
    --primary-color :#612674;
}

html{
    font-family: sans-serif;
}

.maxWidth{
    max-width: 70.25em;
}

.top_header{
    text-align: center;
}

.top_header_nav{
    background-color: var(--primary-color);
}